{% extends "base.html" %}

{% block title %}
Artists | ArtMart
{% endblock %}

{% block content %}

<main class="simple-page">

    <h1>Our Artists</h1>

    <p>Meet the talented artists featured on ArtMart.</p>

    <div class="artist-list">

        <div class="artist-card">

            <h2>Riya Rathor</h2>

            <p>
                Landscape & Abstract Artist
            </p>

        </div>


        <div class="artist-card">

            <h2>Meera Sharma</h2>

            <p>
                Landscape Artist
            </p>

        </div>


        <div class="artist-card">

            <h2>Aarav Patel</h2>

            <p>
                Abstract Artist
            </p>

        </div>


        <div class="artist-card">

            <h2>Rohan Verma</h2>

            <p>
                Nature Artist
            </p>

        </div>

    </div>

</main>

{% endblock %}